.title,
h2 {
  font-weight: bold;
  text-align: center;
  font-family: Arial;
}

body {
  background-color: blanchedalmond;
}

img {
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
}
li a {
  color: darkblue;
}
